*{
    background-color: #000;
    color: #fff;
    padding:5px 5px;
}
h1{
    font-size: 40px;
}
div{
    font-size: 24px;
    font-family: sans-serif;

}
div a{
    display:contents;
    color: rgb(191, 191, 236);
}
button{
    background-color: rgb(175, 175, 175);
}
button a{
    color: black;
}
@media (max-width:500px){
    *{
        background-color: skyblue;
        color: rgb(34, 4, 4);
        padding: 2px 0px;
    }
    h1{
        font-size: 30px;
    }
    div{
        font-size: 15px;
    }
}