h1{
    font-size: 50px;
    font-family: sans-serif;
    margin:6% 20%;
}

@media (max-width:500px){
    h1{
        text-align: center;
        font-size: 25px;
        font-family: sans-serif;
        margin:30% 10%;
    }
}